<!DOCTYPE html>
{% extends 'alumni_app/base.html' %}
{% load static %}

{% block base_body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="section dark_bg" id="about" style="padding-top:3%;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 text_align_center padding_0">
                    <div class="full">
                        <img id = "msi_logo" class="img-fluid mx-auto d-block" src="{% static 'images/msi_logo_no_bg.png' %}" alt="#"
                       style="padding-top: 5px;">

                    </div>
                </div>

                <div class="col-lg-6 col-md-12 white_fonts layout_padding padding_left_right">
                    <h3 class="small_heading">About Us</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
					The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
					content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
					their default model..</p>
                </div>
            </div>
        </div>
    </div>


        <!-- section -->
        <div class="section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="full">
                            <div class="heading_main text_align_left">

    						   <div class="right">

                                <h2><span style='font-size:60px; padding-right: 10px;'>&#9930;</span><span class="theme_color">Our</span>TEAM</h2>
    							</div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>

                <div class="card-deck">
                  <div class="card">
                    <img class="card-img-top" src="{% static 'images/megha1.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Megha</h5>
                      <p class="card-text">Batch : <b>2018-21</b></p>
                      <a href="https://twitter.com/Megha48193299?s=08" target="_blank" class="fa fa-twitter"></a>
                      <a href="https://www.linkedin.com/in/megha-khawadia-a9809b19b" target="_blank" class="fa fa-linkedin"></a>
                    </div>
                  </div>
                  <div class="card">
                      <img class="card-img-top" src="{% static 'images/sangeeta2.jpg' %}" alt="Card image cap">
                      <div class="card-body">
                    <h5 class="card-title">Sangeeta Mathur</h5>
                      <p class="card-text">Batch : <b>2018-21</b></p>
                      <a href="https://twitter.com/M_Sangeeta601?s=08" target="_blank" class="fa fa-twitter"></a>
                      <a href="https://www.linkedin.com/in/sangeeta-mathur-16b43519b" target="_blank" class="fa fa-linkedin"></a>
                    </div>
                  </div>
                  <div class="card">
                      <img class="card-img-top" src="{% static 'images/shubham.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Shubham Rathore</h5>
                      <p class="card-text">Batch : <b>2018-21</b></p>
                      <a href="https://twitter.com/Shubham01858309?s=08" target="_blank" class="fa fa-twitter"></a>
                      <a href="https://www.linkedin.com/in/shubham-rathore-2123471b5" target="_blank" class="fa fa-linkedin"></a>
                    </div>
                  </div>
                  <div class="card">
                     <img class="card-img-top" src="{% static 'images/sristi2.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Sristi</h5>
                      <p class="card-text">Batch : <b>2018-21</b></p>
                      <a href="https://twitter.com/V_sristi?s=08" target="_blank" class="fa fa-twitter"></a>
                      <a href="https://www.linkedin.com/in/sristi-v-5979481b4" target="_blank" class="fa fa-linkedin"></a>
                    </div>
                  </div>

                </div>
                <br><br>



            </div>
        </div>




    	<!-- end section -->

{% endblock %}