<!DOCTYPE html>
{% extends "alumni_app/base.html" %}
{% load static %}
{% block base_body_block %}
<!-- everything in this block will inherit from base.html -->

<link rel="stylesheet" type="text/css" href="{% static 'css/achievements.css' %}">
	
	<center>
	<div class="card">
  		<div class="card-header"><h3><b>Achievements</b></h3></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item"><left>jsdghbjhaj</left></li>
   			<li class="list-group-item">sauhgjhbchjas</li>
   			<li class="list-group-item">jsgfubsciugtcdu</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><h4><b>BCA Achievements</b></h4></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">jsdghbjhaj</li>
   			<li class="list-group-item">sauhgjhbchjas</li>
   			<li class="list-group-item">jsgfubsciugtcdu</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><h4><b>BBA Achievements</b></h4></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">jsdghbjhaj</li>
   			<li class="list-group-item">sauhgjhbchjas</li>
   			<li class="list-group-item">jsgfubsciugtcdu</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><h4><b>B.Com. Achievements</b></h4></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">jsdghbjhaj</li>
   			<li class="list-group-item">sauhgjhbchjas</li>
   			<li class="list-group-item">jsgfubsciugtcdu</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><h4><b>B.Ed. Achievements</b></h4></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">jsdghbjhaj</li>
   			<li class="list-group-item">sauhgjhbchjas</li>
   			<li class="list-group-item">jsgfubsciugtcdu</li>
  			</ul>
	</div>
	</center>

{% endblock %}