<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>MSI ALumni</title>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script type="text/javascript" src="{% static 'js/dynamic.js' %}"></script>


	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--link for font-->
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

	<!-- Link for icon -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

	<div class="clgname-container">
		<div class="inner-clgname">
			<div class="img-container">
				<img src= "{% static 'images/msi.jpg' %}" width="120" height="120">
			</div>
			<div class="clgname">
				<h1>Maharaja Surajmal Institute</h1>
			</div>
		</div>
	</div>

	<div class="navheader">
		<div class="innerHeader">

			<div class="logo-container">

				<!-- Code for hamburger button and its function-->
				<nav role="navigation">

					  <div id="menuToggle">
					    <!--
					    A fake / hidden checkbox is used as click reciever,
					    so you can use the :checked selector on it.
					    -->
					    <input type="checkbox" />

					    <span></span>
					    <span></span>
					    <span></span>

					    <ul id="menu">
					      <a href="#"><li>Home</li></a>
					      <a href="#"><li>About</li></a>
					      <a href="#"><li >Courses</li></a>
					      <a href="#"><li>Events</li></a>
					      <a href="#"><li>Notices</li></a>
					      <a href="#"><li>Placement</li></a>
					    </ul>
					  </div>
					</nav>
			<h1> MSI <span>Alumni assocation</span></h1>
			</div>

			<ul class="login">
				<a href="#"><li>Login</li></a>
			</ul>
		</div>
	</div>

	<div class="container">
		{% block base_body_block %}
		<!-- Everything outside of this block will be inherited in all files that extend base.html -->
		{% endblock %}
	</div>

	
    <!-- ---------------------------------------------------------Now adding a FOOTER--------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------Footer-------------------------------------------------------------------------- -->
	<footer style="padding:0px" class="foot_fixed">

		<div class="wrapper row">
		   <div class="col-md-6 col-sm-6">
				<div class="row-md-6 row-sm-6" style="margin-left: 50px;"><!-- --------------------College Name section----------------------------- -->
					<h2>Maharaja Surajmal Institute</h2>
					<h5>Since 1999</h5>
					<h5>C-4, Janakpuri, New Delhi-58</h5>
				</div>
				<div class="row-md-6 row-sm-6" style=" margin-left: 50px; margin-top: 30px; margin-bottom: 30px;"><!-- ------Social media icons-------- -->
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-linkedin"></a>
					<a href="#" class="fa fa-youtube"></a> 
				</div>
			</div>
			<div class="col-md-6 col-sm-6"><!-- --------------------------------------------------slide show------------------------------------------ -->
				   
					   <div class="carousel slide" id="myslider" data-ride="carousel">
						   <div class="carousel-inner"><!-- ------------------images stored here------------------------------------------------------- -->
							   <div class="item active"><!-- ----------------------------------------------------------------first image--------------- -->
								   <img src="{% static 'images/1.jpg' %}" alt="1.jpg" style="width:100%;height:250px;">
								   <div class="carousel-caption">
									   <h3 style="color:red;">Image one</h3>
								   </div>            
							   </div>
							   <div class="item"><!-- -------------------------------------------------------second image------------------------------ -->
								   <img src="{% static 'images/2.jpg' %}" alt="1.jpg" style="width:100%;height:250px; ">
								   <div class="carousel-caption">
									   <h3 style="color:red;">Image two</h3>
								   </div>             
							   </div>
							   <div class="item"><!-- ---------------------------------------------------------third image-------------------------- -->
								   <img src="{% static 'images/3.jpg' %}" alt="1.jpg" style="width:100%;height:250px;">
								   <div class="carousel-caption">
									   <h3 style="color:red;">Image three</h3>
								   </div>             
							   </div>
			   
						   </div>
						   <ol class="carousel-indicators" style="color:red;"><!-- -------------------------------indicators------------------------ -->
							   <li data-target="#myslider" data-slide-to="0" class="active"></li>
							   <li data-target="#myslider" data-slide-to="1" ></li>
							   <li data-target="#myslider" data-slide-to="2" ></li>
			   
						   </ol>
						   <a class="carousel-control-prev" href="#myslider" role="button" data-slide="prev">
							   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
							   <span class="sr-only">Previous</span>
						   </a>
						   <a class="carousel-control-next" href="#myslider" role="button" data-slide="next">
							   <span class="carousel-control-next-icon" aria-hidden="true"></span>
							   <span class="sr-only">Next</span>
							 </a>
			   
					   </div>   
					
			</div>

		</div>
		
		<div class="container-fluid row" style="background-color: #0044cc;" ><!-- ---------------------------------------Copyright panel--------------- -->
			<center >Copyright © 2020 Jhunjhunwala Institute</center>
		</div>
	   
	</footer>
		   
	
	
</body>
</html>