<!DOCTYPE html>
{% extends "alumni_app/base.html" %}
{% load static %}
{% block base_body_block %}
<!-- everything in this block will inherit from base.html -->
<link rel="stylesheet" type="text/css" href="{% static 'css/placement.css' %}">

	<center><h3><b>BCA Placement</b></h3></center>

	<center>
	<div class="card">
  		<div class="card-header"><b><h4>Amazon</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>British Telecom</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>Capgemini</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>Concentrix</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>Daffodil</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>D.E. Shaw</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>Deloitte</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>FIS Google</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>FIS Voda</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>IBM India</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>Infosys</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>JUV Tech</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>Mahindra Comviva</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>NIIT</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>SAP Labs</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>TCS</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>Wipro (WIMS)</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>Wipro Cust Care</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>

	<div class="card">
  		<div class="card-header"><b><h4>ZS Associates</h4></b></div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">2019-2020</li>
   			<li class="list-group-item">2018-2019</li>
   			<li class="list-group-item">2017-2018</li>
  			</ul>
	</div>
	</center>
{% endblock %}