<!DOCTYPE html>
{% extends "alumni_app/base.html" %}
{% load static %}
{% block base_body_block %}
<!-- everything in this block will inherit from base.html -->
<link rel="stylesheet" type="text/css" href="{% static 'css/placement.css' %}">

	<center style="margin-top: 10%;font-style: American Typewriter, serif;color: white;background-image: radial-gradient( black, slategrey);margin-left: 50px; margin-right: 50px;border-radius: 20px;"><h1><b>BEd Placement</b></h1></center>


    <center>
	{% for i in placement_companies_obj %}
	<div class="card1">
  		<div class="card-header1"><b><h4>
  		    <button id="company_details_show_hide_btn" onclick="company_details_show_hide_{{forloop.counter}}()" style="background-image: linear-gradient(to right,hotpink,whitesmoke);border-radius: 5px;padding:10px;border: none;">{{ i.name }}</button>
  		</h4></b></div>
	</div>

    <div class="modal" id="myModal_{{forloop.counter}}">
    <div class="modal-dialog modal-lg" style="margin-top:5%">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header justify-content-center">
           <br><br><h4 class="modal-title justify-content-center"><b>{{ i.name }}</b></h4>
           <button type="button" class="close" data-dismiss="modal" onclick="close_placement_modal_{{forloop.counter}}()" style="width:10%;">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="text-align:left;">
            <p>{{ i.description }}</p>
            <p><b>{{ "Month of arrival&nbsp;&nbsp;:&nbsp;&nbsp;" }}</b>{{ i.month }}</p>
            <p><b>{{ "Stipend&nbsp;&nbsp;:&nbsp;&nbsp;" }}</b>{{ i.stipend }}</p>
            <p><b>{{ "Bond&nbsp;&nbsp;:&nbsp;&nbsp;" }}</b>{{ i.bond }}</p>
            <p><b>{{ "Rounds&nbsp;&nbsp;:&nbsp;&nbsp;" }}</b>{{ i.rounds }}</p>
            <p><b>{{ "Syllabus&nbsp;&nbsp;:&nbsp;&nbsp;" }}</b>{{ i.syllabus }}</p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" id="close_btn" onclick="close_placement_modal_{{forloop.counter}}()">OK</button>
        </div>

      </div>
    </div>
    <script>
        function company_details_show_hide_{{forloop.counter}}()
        {
        	$('#myModal_{{forloop.counter}}').show();
        }
        function close_placement_modal_{{forloop.counter}}()
        {
	        $('#myModal_{{forloop.counter}}').hide();
        }
    </script>
  </div>

	{% endfor %}
	</center>

{% endblock %}