<!DOCTYPE html>
{% extends "alumni_app/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% block base_body_block %}
<!-- everything in this block will inherit from base.html -->

<h3>"Alumni are the fruits of MSI Education. Their alma maters nourished them, they are role models for our students."</h3>

<div class="container" style="width:70%; margin-left:auto; margin-right:auto;"><!-- slide show  in body-->

    <div class="carousel slide" id="mysliderbody" data-ride="carousel">
        <div class="carousel-inner"  ><!-- images stored here -->
            {% for i in slideshow_obj %}
            <div class="item active"><!-- first image-->
                <div class="card mb-3" style="width:100%; height:auto;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="/media/{{i.photo}}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ i.title }}</h5>
                                <p class="card-text">{{ i.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <ol class="carousel-indicators" style="color:green;"><!--indicators-->
            <li data-target="#mysliderbody" data-slide-to="0" class="active"></li>
            <li data-target="#mysliderbody" data-slide-to="1" ></li>
            <li data-target="#mysliderbody" data-slide-to="2" ></li>
            <li data-target="#mysliderbody" data-slide-to="3" ></li>
            <li data-target="#mysliderbody" data-slide-to="4" ></li>

        </ol>
        <a class="carousel-control-prev" href="#mysliderbody" role="button" data-slide="prev" style="color:green;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#mysliderbody" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

    </div>
</div>
<br><br><br><br>
<div class="card " id="loginID">
    <div class="card-body">
        <h2 class="card-title">Login Here</h2>
        <hr>
        <form action="" method="POST" onsubmit="return validate()" name="login_form">
          {% csrf_token %}
          <p><b>Username</b></p>
          <input id="uname" type="text" name="username" placeholder="Enter username" required="required">
          <div id="name_error" class="name_c_error"></div>
          <p><b>Password</b></p>
          <input id="pass" type="password" name="password" placeholder="Enter Password" required="required">
          <div id="pass_error" class="pass_c_error"></div>
          <input type="submit" name="login_form" value="Login">
          <a href="#">Forgot Password?</a>
        </form>

    </div>
</div>

<br><br><br><br><br><br>
{% endblock %}