<!DOCTYPE html>
{% extends "alumni_app/base.html" %}
{% load static %}
{% block base_body_block %}
<!-- everything in this block will inherit from base.html -->

<link rel="stylesheet" type="text/css" href="{% static 'css/notice.css' %}">

	<center><h3><b>Notices</b></h3></center>

	<center>
	<div class="card">
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">link1</li>
   			<li class="list-group-item">link2</li>
   			<li class="list-group-item">link3</li>
  			</ul>
	</div>
	</center>

{% endblock %}