.card
{
	width: 70%;
	margin-top: 7%;
	margin-bottom: 5%;
	border-radius: 9px;
	background-image:linear-gradient(to right, hotpink,whitesmoke) ;
	box-shadow: 7px 8px pink;
}

.list-group-item
{
	border: 1px grey solid;
	text-align: left;
}