.card
{
	width: 90%;
	margin-top: 2%;
	margin-bottom: 2%;
	border: 2px blue solid;
}

.card-header
{
	background-color: #18a6f2;
	border: 1px blue solid;
}

.list-group-item
{
	border: 1px blue solid;
	text-align: left;
}
