/** ADD YOUR AWESOME CODES HERE **/
 
 
  /*For Mobile Responsiveness*/

  @media (max-width: 767px) {
  .sample .test .textOnImage {
      position: absolute;
      background-color: white;
      font-size: 10px;
      top: 90px;
      left: 20px;
      right: 20px;
      text-align: center;
      /* font-size: 40px; */
      color: crimson;
  }
  .sample .test .textOnImage span {
     font-weight: bold;
     font-size: 15px;
 }
 .layout_padding {
     padding-top: 5px;
     padding-bottom: 60px;
 }
 .layout_padding p {
     margin-top: 5px;
     margin-bottom: 1rem;
     font-size: 15px;
     font-weight: 100;
     line-height: normal;
 }
  }
  