/** ADD YOUR AWESOME CODES HERE **/
 

 /*For Mobile Responsiveness*/

 @media (max-width: 767px) {
 .sample .test .textOnImage {
     position: absolute;
     background-color: white;
     font-size: 10px;
     top: 150px;
     left: 20px;
     right: 20px;
     text-align: center;
     /* font-size: 40px; */
     color: crimson;
 }
 .sample .test img{
    width: 100%;
    height: 100%;
 }
 .sample .test .textOnImage span {
    font-weight: bold;
    font-size: 15px;
}
.layout_padding {
    padding-top: 5px;
    padding-bottom: 60px;
}


.layout_padding p {
    margin-top: 5px;
    margin-bottom: 1rem;
    font-size: 15px;
    font-weight: 100;
    line-height: normal;
}
#about img{
    width: 30%;
    height: 30%;
}

#demo .img-responsive {
    margin: 10px 0;
    width: 400px;
    height: 100px;
}

#cardFormTitle{
    margin-top: 1px;
    margin-bottom: -10px;
}

/*View all alumni Button*/
#allImages{
    width: auto;
    margin-left: none;
    margin-right: none;
    
}
/**/
#OurAlumni{
    display: none;
}
#OurAlumni_mobile{
    display: contents;
}
#gallery{
    display: none;
}

#gallery_mobile{
    display: contents;
}

img#gallery_image_mobile{
    width: 29rem;
}

 }

 /*MOBILE RESONSIVE CSS CODE END*/


#moreImages{
    border-radius: 0px;
    display: block;
}


 #cardFormTitle{
    font-family: 'FontAwesome';
    color: white;
    /*background-image: url('/static/images/contactForm_bg1.jpg/');*/
    background-image: url('/static/images/contactbg.jpg/');

 }
 


 #contact_form input{

    height: calc(2rem + 0.5px);

 }

#formContainerDiv {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.3rem 1rem 1rem 1rem;
}
 .footer-boxer{
    padding: 30px 0;
 }


#allImages{
    font-family: 'FontAwesome';
    font-size: 20px;
    display: block;
    padding: 0.5rem 1rem;
    text-align: -webkit-center;
    margin-left: 30%;
    margin-right: 30%;

}

img.our_alumni_images:hover{
    background: rgba(244,56,102,0.7);
    opacity: 0.6;
    transition: ease all 0.2s;
}



/* LAPTOP RESPONSIVE CSS ENDS HERE */





  /* only small tablets */
 @media (min-width: 768px) and (max-width: 991px) {
    #cardFormTitle{
    margin-top: -100px;
    margin-bottom: -10px;
}
#about img{
    width: 30%;
    height: 30%;
}

#OurAlumni{
    display: contents;
}
#OurAlumni_mobile{
    display: none;
}
#gallery{
    display: contents;
}
#gallery_mobile{
    display: none;
}
.sample .test .textOnImage {
    position: absolute;
    background-color: white;
    top: 270px;
    left: 20px;
    right: 20px;
    text-align: center;
    font-size: 40px;
    color: crimson;
}
.sample .test .textOnImage span {
    font-weight: bold;
    font-size: 45px;
}

 }

 /* only small desktops */
 /* tablets */
  @media (min-width: 992px) and (max-width: 1190px) {
    #cardFormTitle{
    margin-top: -129px;
    margin-bottom: -40px;
}
#about img{
    padding-bottom: 30px;
}
#OurAlumni{
    display: contents;
}
#OurAlumni_mobile{
    display: none;
}
#gallery{
    display: contents;
}
#gallery_mobile{
    display: none;
}

  }



/*FOR LAPTOPS OF NORMAL SIZES and Desktops*/
   @media (min-width: 1191px){
    #cardFormTitle{
    margin-top: -150px;
    margin-bottom: -20px;
    }
    .sample .test img{
        padding-top: 100px;
    }

    #about img{
        padding-bottom: 30px;
    }

    #mobile_alumni{
    display: none;
 }
#OurAlumni{
    display: contents;
}

#OurAlumni_mobile{
    display: none;
}
#gallery{
    display: contents;
}
#gallery_mobile{
    display: none;
}



 }
 
