.card
{
	width: 75%;
	margin-top: 3%;
	margin-bottom: 2%;
	border: 2px blue solid;
}
#notice_card{
    margin-top: 9%;
}
.card-header
{
	background-color: #18a6f2;
	border: 1px blue solid;
}
.list-group-item
{
	border: 1px blue solid;
	text-align: left;
}
.form-group
{
	font-weight: bold;
}
.submit_btn
{
	text-align: center;
}